<footer class="app-footer">
  <div class="container app-footer-content">
    <div class="row">
      <div class="col m4 center-align">

      </div>
      <div class="col m4 center-align">
        <div class="company-info">
          Company Info
        </div>
        <div class="company-copyright">
          <small>@{{constantList.project.name}} copyright</small>
        </div>
      </div>
      <div class="col m4">
        <div class="footer-links">
          <ul id="nav" class="navigation center-align">
            <li *ngIf="!loginUser" routerLinkActive="active"><a routerLink="/signIn">Login</a></li>
            <li *ngIf="loginUser" routerLinkActive="active"><a routerLink="/settings">Settings</a></li>
            <li *ngIf="loginUser" routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
            <li *ngIf="loginUser" routerLinkActive="active"><a (click)="loggedOut()">Logout</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
