<div class="col s3" *ngFor="let clientEl of clients">
  <div class="card" appHover>
    <div class="card-image">
      <img style="min-height: 100px">
      <!-- src="{{clients.image}}" -->
      <span class="card-title" [ngClass]="{'marked': isMarked }">{{clientEl}}</span>
    </div>
    <div class="card-content">
      <p>
        {{clientEl}}
      </p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn" (click)="onClickCart()">Sign</a>
    </div>
  </div>
</div>
