<div id="app-wrapper"  [ngClass]="currentTheme">
    <nav>
        <div class="nav-wrapper">
            <div class="nav-container">
                <a routerLink="/" class="brand-logo">{{project.name}}</a>

                <ul id="nav-mobile" class="right">
                    <li><a routerLink="/">Main</a></li>
                    <li><a routerLink="/settings">Settings</a></li>
                    <li *ngIf="showTheme; else otherSwitch">
                        <div class="theme-trigger-container">
                            <select class="browser-default" name="theme-trigger-nav" id="theme-trigger-nav" [(ngModel)]="currentTheme" (ngModelChange)="setTheme($event)">
                                <option value="" disabled selected>Choose your theme</option>
                                <option value="defaultTheme">Default</option>
                                <option value="purpleTheme">Purple</option>
                                <option value="blackTheme">Black</option>
                            </select>
                        </div>
                    </li>
                  <ng-template #otherSwitch><li></li></ng-template>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <router-outlet></router-outlet>

    </div>
</div>


