<div class="col s3">
    <div class="card" appHover>
        <div class="card-image">
            <img style="min-height: 100px">
            <!-- src="{{user.image}}" -->
            <span class="card-title" [ngClass]="{'marked': isMarked }">{{user.name}}</span>
        </div>
        <div class="card-content">
            <p>
              {{user.geo}}
            </p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" (click)="onClickCart()">Sign</a>
        </div>
    </div>
</div>
