/* You can add global styles to this file, and also import other style files */

$default-color: #ee6e73;
$purple-color: #bb4c7e;
$black-color: #444;
$invert-white: #f6f6f6;

html, body {
    height: 100%;
}

.theme-trigger-container {
  padding: 9px 0;
}
select[name=theme-trigger-nav] {
  background-color: transparent;
  color: #fff;
  @media(min-width: 992px){
    margin-left: 20px;
  }

}
.side-nav {
  .sidenav-header {
    background: $default-color;
  }
}

//toasts
#toast-container {
  .bb-toast {
    &.success {
      background-color: #26b770;
    }
    &.error {
      background-color: #EF5350;
    }
  }
}


.purpleTheme {
  nav {
    background-color: $purple-color;
  }

  .btn {
    background-color: $purple-color;
  }

  .side-nav {
    .sidenav-header {
      background: $purple-color;

      .brand-logo {
      }
    }
  }

}

.blackTheme {
  * {
      color: #fff;
  }
  a {
    color: #039be5;
  }
    nav {
        background-color:  $invert-white;
        color: $black-color;
        a {
            color: $black-color;
        }
    }
    .btn {
        background-color: #676767;
    }
    &#app-wrapper {
        background-color: $black-color;
        min-height: 100%;
    }
    .card .card-image .card-title{
        color: $black-color;
    }
    .input-field {
      color: #fff;
    }
  select[name=theme-trigger-nav] {
    color: $black-color;
  }
  .sidenav-trigger {
    i {
      color: #444;
    }
  }
  .side-nav {
    .sidenav-header {
      background: $black-color;
      .brand-logo {
        color: $invert-white;
      }
    }
  }
  .modal {
    background-color: $black-color;
    .modal-footer {
      background-color: $invert-white;
      color: $black-color;
    }
  }

}

.btn-mobile-large {
  width: 100%;
  margin-bottom: 15px;
}

.not-found-page ~ .row {
  background-color: #ee6e73;
}
