/* You can add global styles to this file, and also import other style files */

$default-color: #ee6e73;
$purple-color: #bb4c7e;
$black-color: #444;
$invert-white: #f6f6f6;
$dark-panels: #676767;


@mixin Gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  background: -webkit-linear-gradient(top, $start-color, $end-color);
  background: linear-gradient(to bottom, $start-color, $end-color);
}


html, body {
    height: 100%;
}

//decrease heading's font size
@for $i from 1 through 4 {
  h#{$i}{ font-size: 4.2rem - ($i * 0.64rem)!important; }
}



.theme-trigger-container {
  padding: 9px 0;
}
select[name=theme-trigger-nav] {
  background-color: transparent;
  color: #fff;
  @media(min-width: 992px){
    margin-left: 20px;
  }
  .side-nav & {
    color: #444;
  }
}
.side-nav {
  .sidenav-header {
    background: $default-color;
  }
}

//toasts
#toast-container {
  .bb-toast {
    &.success {
      background-color: #26b770;
    }
    &.error {
      background-color: #EF5350;
    }
  }
}

.defaultTheme {
  .bb-landing-hero {
    @include Gradient(#ee6e73, #ee6e73, #b74141);
    border-bottom: 1px solid #fb5c62;
    -webkit-box-shadow: inset 0 -2px 2px -2px rgba(232, 23, 31, 0.8);
  }
}
.purpleTheme {
  nav {
    background-color: $purple-color;
  }

  .btn {
    background-color: $purple-color;
  }

  .side-nav {
    .sidenav-header {
      background: $purple-color;

      .brand-logo {
      }
    }
  }
  .bb-landing-hero {
    @include Gradient(#BB4C7F, #864949, #BB4C7F);
    border-bottom: 1px solid #BB4C7F;
    -webkit-box-shadow: inset 0 -2px 2px -2px rgba(232, 23, 31, 0.8);
  }

}

.blackTheme {
  * {
      color: #fff;
  }
  a {
    color: #039be5;
  }
    nav {
        background-color:  $invert-white;
        color: $black-color;
        a {
            color: $black-color;
        }
    }
    .btn {
        background-color: $dark-panels;
    }
    &#app-wrapper {
        background-color: $black-color;
        min-height: 100%;
    }
    .card .card-image .card-title{
        color: $black-color;
    }
    .input-field {
      color: #fff;
    }
  select[name=theme-trigger-nav] {
    color: $black-color;
  }
  .sidenav-trigger {
    i {
      color: #444;
    }
  }
  .side-nav {
    .sidenav-header {
      background: $black-color;
      .brand-logo {
        color: $invert-white;
      }
    }
  }
  .modal {
    background-color: $black-color;
    .modal-footer {
      background-color: $invert-white;
      color: $black-color;
    }
  }
  .card {
    background-color: $dark-panels;
  }
  .bb-landing-hero {
    @include Gradient($dark-panels, $black-color, $dark-panels);
    border-bottom: 1px solid $black-color;
    -webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.8);
  }
}

.btn-mobile-large {
  width: 100%;
  margin-bottom: 15px;
}

.not-found-page ~ .row {
  background-color: #ee6e73;
}


.content-padding {
  padding-top: 30px;
}



