<section class="bb-landing-hero">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="bb-landing-heading">Simple Angular 2+ <br> SPA APPLICATION </h2>
      </div>
    </div>
    <div class="row bb-landing-tech_stack">
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              important_devices
            </i>
            <div><b>TECHNOLOGIES</b></div>
          </mz-card-title>
          <mz-card-content>
            <p>
              HTML, SCSS, Angular 2+ & CLI, Materialize CSS, Responsive
            </p>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              sync
            </i>
            <div><b>JSON API</b></div>
          </mz-card-title>
          <mz-card-content>
            APP Uses a simple <a href="https://reqres.in" target="_blank">JSON API reqres.in</a> for demonstration SPA
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              polymer
            </i>
            <div><b>FUNCTIONALITY</b></div>
          </mz-card-title>
          <mz-card-content>
            Register, login, User settings, Profile, Different color scheme
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
</section>
<section class="bb-landing-content center-align">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="bb-section_heading">Select your color scheme</h2>
      </div>
      <div class="col m4">
        <mz-card class="center-align bb-landing-card">
          <mz-card-title>
            <h4>Default Material</h4>
          </mz-card-title>
          <mz-card-content>
            <div class="scheme-img-container">
              <img class="responsive-img" src="./assets/images/default-scheme.png" alt="">
            </div>
          </mz-card-content>
        </mz-card>

      </div>
      <div class="col m4">
        <mz-card class=" center-align bb-landing-card">
          <mz-card-title>
            <h4>Dark Material</h4>
          </mz-card-title>
          <mz-card-content>
            <div class="scheme-img-container">
              <img class="responsive-img" src="./assets/images/dark-scheme.png" alt="">
            </div>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col m4">
        <mz-card class="bb-landing-card">
          <mz-card-title>
            <h4>Purple Material</h4>
          </mz-card-title>
          <mz-card-content>
            <div class="scheme-img-container">
              <img class="responsive-img" src="./assets/images/purple-scheme.png" alt="">
            </div>
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
</section>
<section class="bb-landing-content center-align color-section-odd">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="bb-landing-heading"> Several types of chart </h2>
        <p>by <a href="https://www.chartjs.org/" target="_blank">chartJS</a></p>
      </div>
    </div>
  </div>
</section>
<section class="bb-landing-content center-align">
  <div class="container content-padding">
    <div class=" row tabs-container">

      <div class="col s4 left-align">
        <a (click)="tabView='linear'" [class.active]="tabView=='linear'" class="waves-effect waves-light btn-small btn">Linear Chart</a>
      </div>
      <div class="col s4 center-align">
        <a (click)="tabView='bar'" [class.active]="tabView=='bar'"
           class="waves-effect waves-light btn-small btn">Bar Chart</a>
      </div>
      <div class="col s4 right-align">
        <a (click)="tabView='pie'" [class.active]="tabView=='pie'" class="waves-effect waves-light btn-small btn">Pie Chart</a>
      </div>

    </div>
    <div class="row">
      <div class="col s12">
        <div class="tabs-view" [ngSwitch]="tabView">
          <div *ngSwitchCase="'linear'">
            <app-landing-line-chart></app-landing-line-chart>

          </div>
          <div *ngSwitchCase="'bar'">
            <app-bar-chart-component-landing></app-bar-chart-component-landing>
          </div>
          <div *ngSwitchCase="'pie'">
            <app-landing-pie-chart></app-landing-pie-chart>
          </div>
          <div *ngSwitchDefault>Choose</div>
        </div>
      </div>
    </div>

  </div>
</section>



