<section class="bb-landing-hero">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="bb-landing-heading">Simple Angular 2+ <br> SPA APPLICATION </h2>
      </div>
    </div>
    <div class="row bb-landing-tech_stack">
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              important_devices
            </i>
            <div><b>TECHNOLOGIES</b></div>
          </mz-card-title>
          <mz-card-content>
            <p>
              HTML, SCSS, Angular 2+ & CLI, Materialize CSS, Responsive
            </p>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              sync
            </i>
            <div><b>JSON API</b></div>
          </mz-card-title>
          <mz-card-content>
            APP Uses a simple <a href="https://reqres.in" target="_blank">JSON API reqres.in</a> for demonstration SPA
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              polymer
            </i>
            <div><b>FUNCTIONALITY</b></div>
          </mz-card-title>
          <mz-card-content>
            Register, login, User settings, Profile, Different color scheme
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
</section>



