<section class="bb-landing-hero">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="bb-landing-heading">Simple Angular 2+ <br> SPA APPLICATION </h2>
      </div>
    </div>
    <div class="row bb-landing-tech_stack">
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              important_devices
            </i>
            <div><b>TECHNOLOGIES</b></div>
          </mz-card-title>
          <mz-card-content>
            <p>
              HTML, SCSS, Angular 2+ & CLI, Materialize CSS, Responsive
            </p>
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              sync
            </i>
            <div><b>JSON API</b></div>
          </mz-card-title>
          <mz-card-content>
            APP Uses a simple <a href="https://reqres.in" target="_blank">JSON API reqres.in</a> for demonstration SPA
          </mz-card-content>
        </mz-card>
      </div>
      <div class="col s12 m4">
        <mz-card class="tech-stack center-align">
          <mz-card-title>
            <i class="material-icons tech-stack-icon">
              polymer
            </i>
            <div><b>FUNCTIONALITY</b></div>
          </mz-card-title>
          <mz-card-content>
            Register, login, User settings, Profile, Different color scheme
          </mz-card-content>
        </mz-card>
      </div>
    </div>
  </div>
</section>
<section class="bb-landing-content center-align">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2>Select your color scheme</h2>
      </div>
      <div class="col m4">
        <h4>Default Material</h4>
        <div class="scheme-img-container">
          <img class="responsive-img" src="./assets/images/default-scheme.png" alt="">
        </div>
      </div>
      <div class="col m4">
        <h4>Dark Material</h4>
        <div class="scheme-img-container">
          <img class="responsive-img" src="./assets/images/dark-scheme.png" alt="">
        </div>
      </div>
      <div class="col m4">
        <h4>Purple Material</h4>
        <div class="scheme-img-container">
          <img class="responsive-img" src="./assets/images/purple-scheme.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti ducimus explicabo
        itaque maxime, minima
        modi necessitatibus nisi perspiciatis quod rem similique soluta velit? Autem deserunt error laudantium magni
        odio
        perferendis reiciendis tempore? Accusamus asperiores, consequuntur corporis culpa cupiditate deleniti
        dignissimos
        fugit harum incidunt natus nostrum odio quo reprehenderit sed sint. Animi aspernatur cum cumque, deleniti dicta
        dignissimos est ex natus nostrum pariatur porro quam recusandae repellendus saepe similique tempora tempore
        temporibus vel velit veniam? A ad alias aspernatur consequatur consequuntur corporis cum delectus dicta
        doloremque
        dolores ea eius error esse eveniet exercitationem explicabo illo illum inventore ipsam labore libero minima
        molestiae nesciunt non quibusdam quos recusandae rem repellendus sequi sit soluta unde vero, voluptas? Nostrum
        officia possimus vero? Aliquam, commodi consequuntur debitis eum expedita explicabo itaque mollitia non sunt
        temporibus. Ab aperiam at consectetur cum dolor dolorem doloremque eos et ex excepturi facilis, fuga illum iure
        laborum nam odio, officiis omnis quibusdam quisquam quo recusandae reiciendis tempore temporibus voluptates
        voluptatibus. Aliquid at consectetur cum debitis earum minima nesciunt, nulla perferendis, quisquam soluta
        suscipit tenetur! Aperiam asperiores consequuntur cum est eum eveniet fugit in minima necessitatibus nisi quidem
        quis, quos sit suscipit, velit! Beatae illum laboriosam minima quos repudiandae. Ad aliquid amet aspernatur aut
        corporis cum cupiditate, debitis eius eligendi facere facilis fugiat fugit ipsa labore natus nesciunt nulla
        omnis
        optio quam quia, quo repellendus sed sunt suscipit, totam veritatis vitae? A accusamus beatae consectetur cum
        cupiditate delectus, deserunt ea eligendi est exercitationem expedita impedit in ipsa labore minus mollitia nam
        necessitatibus nemo nobis obcaecati quia reiciendis sapiente sit tempora unde ut veniam voluptate. Alias
        aperiam,
        beatae consectetur consequatur culpa cum dignissimos dolore eaque enim esse exercitationem expedita fuga illum
        incidunt inventore ipsum iste magnam magni molestiae molestias nam nesciunt, non odio, officiis omnis pariatur
        praesentium quaerat quisquam quos repellendus sit tempora totam unde veniam vitae voluptatibus voluptatum.
        Asperiores aspernatur commodi debitis dignissimos et, facilis mollitia neque odit porro quam quas quasi quis
        sint
        ut vitae. Ad alias assumenda commodi dolorum error excepturi exercitationem fuga fugiat id magnam, molestiae
        nemo
        optio placeat praesentium recusandae sed sequi veniam vitae voluptate voluptatum. Alias amet animi dignissimos
        dolores itaque, molestiae natus nulla quasi recusandae voluptate? At beatae consectetur cum deleniti dolore et
        fugit illo illum ipsum iste magnam nobis omnis perferendis quaerat quia quisquam repellat velit veritatis, vero
        voluptates! Ad aperiam atque beatae est, expedita facere iste nesciunt nobis optio porro quibusdam quidem quis
        soluta vitae voluptates! Aspernatur at aut autem, dolorem enim, impedit molestiae odio officiis placeat,
        reiciendis sequi totam unde voluptate! Hic illum natus praesentium quaerat? A aut culpa, exercitationem id
        itaque
        maxime nam omnis quo velit voluptates. Assumenda delectus inventore ipsum iure omnis sed tenetur unde. A
        assumenda
        atque aut deleniti, doloremque dolorum ea eveniet laboriosam magni molestiae nam nemo nostrum odio, perferendis
        perspiciatis sint temporibus vel vitae voluptates voluptatum! Animi blanditiis expedita mollitia nulla
        perspiciatis repellendus repudiandae unde. Aspernatur cupiditate dolor dolorem ducimus earum error eum fugiat
        iure
        laboriosam libero numquam quam quidem quo similique, sint vel voluptate voluptates?
      </div>
    </div>

  </div>
</section>



